# Auto detect text files and perform LF normalization
*.cs linguist-language=C#
*.cshtml linguist-language=HTML
*.config linguist-language=XML
*.asax linguist-language=C#
*.sln linguist-vendored
*.dll linguist-generated
